
/* App Container */
.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #787879;
}

/* Game Title */
h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #402a2a;
  position: relative;
  left: -20px;
}

/* Game Board */
.game-board {
  border: 2px solid #3a3939;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(28, 0, 0, 0.2);
}

/* Status */
.status {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: #333;
  color: #858080;
}

/* Board Rows */
.board-row {
  display: flex;
}

/* Square Buttons */
.square {
  width: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464646;
  border: 1px solid #231818;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.square:hover {
  background-color: #a8a8a8;
}

/* Buttons in Moves List */
.game-info ol {
  list-style-type: none;
  padding: 0;
}

.game-info li {
  margin: 5px;
}

.game-info button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  color: #333;
}

.game-info button:hover {
  color: #a44242;
}
